<div class="blog-article" *ngIf="post">
  <a class="back-link" routerLink="/blog">
    <i class="fas fa-arrow-left"></i> Back to Journal
  </a>

  <header class="article-header">
    <div class="post-meta">
      <span class="post-date">{{ post.date }}</span>
      <span class="post-category">{{ post.category }}</span>
    </div>
    <h1>{{ post.title }}</h1>
  </header>

  <img class="article-hero" [src]="post.image" [alt]="post.title" />

  <div class="article-body" *ngIf="safeContent" [innerHTML]="safeContent"></div>
</div>
